/*Here's the font colors*/
	.whitef{
		color: white;
	}
	.bluef{
		color: #c6dbef;
	}
	.greenf{
		color: #cdefc6;
	}
	.grayf{
		color: #777676;
	}
/*Body modification*/
	body {
		background-image: url("../Media/balloons.jpg");
	}
	p, h1{
		line-height: 2px;
	}
/*Nav modification*/
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #c6dbef;
	}

	li {
		float: left;
	}

	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a:hover {
		background-color: #111;
	}
